version: '3.8'

services:
  db:
    image: postgres:15
    container_name: 11st-postgres
    environment:
      POSTGRES_DB: clone11st
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
